---
title: Gallery
endpoint: ""
---
extends ../partials/page
include ../partials/menu

mixin image(source)
  a.spotlight(href='./img/' + source +'_1200.jpg' data-zoom='false' data-theme='false' data-player='false' data-autofit='false' data-fullscreen='false' data-title='false')
    img(
      loading='lazy'
      src='./img/' + source + '_1200.jpg'
      srcset='./img/' + source + '_600.jpg 600w, ./img/' + source + '_1200.jpg 1200w'
      sizes='(max-width: 600px) 480px, 800px'
      alt=''
    )

block body
  #layout
    +menu('gallery')
    main
      header
        img(alt="Dawn E Photography" src="./img/DawnEPhotoLogo-Transparent.png")
        //p.text-center Remember the moment, not the session
      section#gallery
        each item in images
          +image(item.src)

block footer
  a.social-link(href="/contact")
    img.contact(src="/img/icons/contact.svg")

block scripts
  script(src='/js/main.js')
